@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Raleway:wght@300;400;700&display=swap');
@import url('https://use.fontawesome.com/releases/v5.15.0/css/all.css');


/* ---------------------------------------- COLOURS #D96415 #F9440D */
.color-accent-bg, .color-accent-bg-hover:hover {
    background-color: rgb(252, 80, 27);
}
.color-accent, .color-accent-hover:hover {
    color: #F9440D;
    color: #d91200;
}
.color-accent-light, .color-accent-light-hover:hover {
    color: #f75;
}

/* .color-accent-dark-bg, .color-accent-dark-bg-hover:hover {
    background-color: #F9440D;
}
.color-accent-dark, .color-accent-dark-hover:hover {
    color: #F9440D;
} */

.color-light-bg, .color-light-bg-hover:hover {
    background-color: #f7f6e7;
}
.color-light, .color-light-hover:hover {
    color: #f7f6e7;
}






/* ---------------------------------------- EFFECTS */
@-webkit-keyframes hero-text {
    from{
        transform:scale(0.95);
    }
    to{
         transform:scale(1);
   }
}
@keyframes hero-text {
    from{
        transform:scale(0.95);
    }
    to{
         transform:scale(1);
   }
}


@-webkit-keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-3px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(3px, 0, 0);
  }
}


@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-3px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(3px, 0, 0);
  }
}


@-webkit-keyframes feature-scale {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 102%;
  }
}


@keyframes feature-scale {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 102%;
  }
}


/* ---------------------------------------- SCREEN READERS */

.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}






/* ---------------------------------------- FORMATTING */

.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-justify {
    text-align: justify;
}
.text-upper {
    text-transform: uppercase;
}
.text-bold {
    font-weight: 900;
}
.text-italic {
    font-style: italic;
}
.text-larger {
    font-size:1.2em;
}
.text-smaller {
    font-size:0.9em;
}
.text-pad {
    padding:1px 4px;
}






/* ---------------------------------------- MODAL */
.modal {
    background-color: rgba(0,0,0,0.8);
    height:100%;
    width:100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 999;
}

.modal-box {
    background-color: rgba(255,255,255,1);
    height:80vh;
    width:80vw;
    max-width:500px;
    position: fixed;
    top:100px;
    left:100px;
    z-index: 9999;
    border-radius: 10px;
    padding:40px 20px 20px 20px;
    box-shadow: 0px 0px 40px -10px #000;
}

.modal-hide {
    display: none;
}

.modal .button-close {
    position: absolute;
    right:0;
    top:0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
}



/* ---------------------------------------- CSS RESET & DEFAULTS */

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Raleway', Times, serif;
    font-size:16px;
    background: #fff;
}



/* ---------------------------------------- HEADER */

header {
    position: relative;
    width:100%;
    height:90px;
    overflow:hidden;
    z-index: 2;
}

header:before {
    content:'';
    height:100%;
    width:140%;
    background: rgba(0,0,0,0.6);
    position: absolute;
    top:0;
    left:-20%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    z-index: 2;
}

#header-hamburger {
    display:none;
}

header nav ul {
    list-style: none;
    position: relative;
    top:25px;
    text-align: center;
    z-index: 5;
}

header nav ul li {
    vertical-align: top;
    display: inline-block;
    width:15%;
}

header nav ul li a {
    font-family: 'Lato', sans-serif;
    font-size:18px;
    letter-spacing: 2px;
    word-spacing:200px;
    position:relative;
    text-shadow: 0px 0px 5px #000;
    transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    -webkit-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
}



#header-cta {
    position:absolute;
    width:200px;
    left: 100px;
    bottom:150px;
    box-shadow: 10px -5px 40px -10px #000;
    -webkit-animation: shake 2s ease-in-out 2s alternate 2 none;
            animation: shake 2s ease-in-out 2s alternate 2 none;
}




/* ---------------------------------------- HERO IMAGE */

#hero-image {
    overflow: hidden;
    height:80vh;
    width:100%;
    background-image: url("../images/bg-desktop.jpg");
    background-size: cover;
    background-position: center -0;
    background-repeat: no-repeat;
    position: relative;
    top:-100px;
    z-index: 1;
}

#hero-image:after {
    content:'';
    width:150%;
    height:70px;
    position: absolute;
    left:-25%;
    bottom:-10px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background: #fff;
    z-index:999;
    box-shadow:  inset 0px 10px 10px -5px rgba(0,0,0,0.5);
}

#hero-text {
    position: absolute;
    top:190px;
    left:0;
    right:0;
    text-align: center;
    font-family: 'Lato', sans-serif;
    display:block;
    animation-name: hero-text;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

#hero-text > h1 {
    font-size:55px;
    font-weight:700;
    text-shadow: 0px 0px 20px #000,0px 0px 20px #000;
    letter-spacing: -2px;
    word-spacing: 0px;

}

#hero-text > p {
    font-size:26px;
    font-weight:700;
    text-shadow: 0px 0px 20px #000,0px 0px 20px #000;
    letter-spacing: 0px;
    word-spacing: 7px;
}





/* ---------------------------------------- MAIN CONTENT */

main {
    position: relative;
    top:-110px;
}

.main-section {
    position: relative;
    clear:both;
    margin:0 auto;
    max-width:1100px;
    padding:20px 10px 10px 10px;
    z-index:50;
}


.main-section-full {
    margin:100px 0;
    padding-top:80px;
    padding-bottom:80px;
    padding:80px calc(50% - 550px);
    position: relative;
    max-width:100%;

}

.main-section-color-container {
    position: relative;
}

.main-section-full:before {
    content:'';
    width:100%;
    height:5px;
    position: absolute;
    top:0px;
    left:0;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background: #fff;
    z-index:999;
}

main h2, main h3 {
    font-family: 'Lato', sans-serif;
    font-weight:300;
    letter-spacing: 1px;
}


main h2 {
    position: relative;
    font-size:40px;
    /* text-shadow: 0px 0px 10px #ccc; */
    margin: 0 0 20px 0;
}

main h3 {
    font-size:18px;
    font-weight:500;
    margin:0 0 20px 0;
}

main p {
    margin: 50px 0;
    line-height: 1.6em;
}



/* ---------------------------------------- FEATURE CARDS */
.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.flexbox-wrap {
    flex-wrap: wrap;
    justify-content: space-between;
}

.feature-card {
    width:240px;
    height:400px;
    margin:0;
    display:block;
    border:1px solid #ddd;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
    position:relative;
    box-shadow: 0 10px 25px -15px #000;
    background-image: linear-gradient(150deg, #fff 75% , #ddd);
}

.feature-card-image {
    width:105%;
    height:140px;
    position: relative;
    left:-2px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.feature-card-image:hover {
    -webkit-animation: feature-scale ease-in-out 1s alternate 1 none;
            animation: feature-scale ease-in-out 1s alternate 2 none;

}

.feature-card h3 {
    margin:12px 10px;
}

.feature-card p {
    margin:14px 10px;
    line-height: 1.2em;
}
#feature-card-al .feature-card-image {
    background-image: url("../images/feature-al.jpg");
}

#feature-card-gt .feature-card-image {
    background-image: url("../images/feature-gt.jpg");
}


.client-logo {
    transition: all 0.5s ease-in-out;
    margin:10px;
    border:2px solid #fff;
    border-radius: 5px;
    position: relative;
    width: 220px;
    height:142px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200px;
}

.client-desc {
    border:2px solid #fff;
    border-radius: 3px;
    background-color: rgba(0,0,0,0.8);
    position:absolute;
    top:-2px;
    left:-2px;
    width:220px;
    z-index:999;
}

.client-desc h3, .client-desc p  {
    padding:10px;
    margin:0;
}

#client-boomtown {
    background-image:url("../images/client-logos/boomtown-logo.png");
}
#client-glasto {
    background-image:url("../images/client-logos/glastonbury-logo.png");
}
#client-larmertree {
    background-image:url("../images/client-logos/larmer-tree-fest-logo.png");
}
#client-pridecymru {
    background-image:url("../images/client-logos/pride-cymru-logo.png");
}



/* ---------------------------------------- FOOTER */

footer {
    position: relative;
    bottom:0;
    margin-top:60px;
    padding:60px 50px;
    min-height:200px;
    background: #333;
    width:100%;
    box-shadow: inset 0px 30px 30px -20px #000;
    font-family: 'Lato', sans-serif;
    font-size:14px;
    font-weight: 300;
    letter-spacing: 0px;
    word-spacing: 0px;

}


footer > .footer-box {
    width:18%;
    display:inline-block;
    vertical-align: top;
    margin:0 3%;
}

footer .footer-text-head {
    display:inline-block;
    font-size: 16px;
    padding-bottom:20px;
    letter-spacing: 0px;
    word-spacing: 0px;
    font-weight: 500;
}


footer ul.footer-ul {
    list-style: none;

}

footer ul.footer-ul li {
    line-height: 1.5em;
    margin-bottom:15px;
    margin-left:25px;
    position:relative
}





footer .footer-contact-us ul.footer-ul {
    text-align: right;
}





footer .footer-latest-news ul.footer-ul li a {
    margin-left:5px;
    font-size: 0.85em;
}

footer ul.footer-ul li::before {
    content: "\f105";
    padding-right:10px;
    font-family: "Font Awesome 5 Free";
    position:absolute;
    left:-25px;
}

footer ul.footer-ul li.video::before {
    content: "\f144";
}

footer ul.footer-ul li.news::before {
    content: "\f1ea";
}


footer .footer-site-info ul.footer-ul li {
    display:inline-block;
    margin: 0 0 25px 25px;
}



footer .footer-logo {
    margin-right:10px;
    position: relative;
    color:#fff;
}

footer p {
    font-weight: 300;
}



#footer-socials {
    margin-top:40px;
    list-style-type: none;
}


#footer-socials li {
    display: inline-block;
    margin: 0 0 10px 15px;
}


#footer-socials li a i {
    font-size: 18px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;

}

#footer-socials li a i.fa-facebook:hover {
    color: #3D548E;
}
#footer-socials li a i.fa-app-store:hover {
    color: #44F;
}
#footer-socials li a i.fa-twitter:hover {
    color: #34B3F7;
}
#footer-socials li a i.fa-linkedin:hover {
    color: #0077b5;
}

#footer-socials li a i.fa-github:hover {
    color: #4078c0;
}

#footer-socials li a i.fa-google-play:hover {
    color: #3eb991;
}







/* ---------------------------------------- FORMS */

.button {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    border-radius: 5px;
    padding:10px 30px;
    border:0;
    letter-spacing: 1px;
    word-spacing: 4px;
    font-size: 16px;
    box-shadow: 0px 0px 20px -10px #000;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.button i.fas {
    font-size:0.9em;
    vertical-align: 0px;
}



/* .input-block {
    display: inline-block;
    padding:0;
    margin:0 50px 50px 0;
    border:0 dotted #ccc;
    border-radius: 3px;
    position: relative;
}
label {
    font-family: 'Lato', sans-serif;
    text-align: left;
    letter-spacing: 1px;
    display: inline-block;
    padding:0;
    font-weight:300;
    text-transform: uppercase;
    position: absolute;
    left:0;
    top:2px;
    width:150px;
}
input[type=text], input[type=email] {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    letter-spacing: 1px;
    outline: 0;
    border: none;
    border-bottom: 1px solid #aaa;
    padding: 0 10px 0 160px;
} */

.input-block {
    display: block;
    padding:0;
    margin:0 0 50px 0;
    border:0 dotted #ccc;
    border-radius: 3px;
    position: relative;
}
.input-full {
    width:100%;
}

label {
    font-family: 'Lato', sans-serif;
    text-align: left;
    letter-spacing: 1px;
    display: inline-block;
    padding:0;
    font-weight:300;
    position: absolute;
    left:10px;
    top:0px;
    width:150px;
}
input[type=text], input[type=email], textarea {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1em;
    letter-spacing: 1px;
    outline: 0;
    border: none;
    border-bottom: 1px solid #aaa;
    padding: 0 10px 0 160px;
}

textarea {
    border:1px solid #aaa;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ccc;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #ccc;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #ccc;
}
:-moz-placeholder { /* Firefox 18- */
  color: #ccc;
}


form.main-section-form .input-block {
    display: inline-block;
    margin:0 0 50px 0;
    position: relative;
    width: 40%;
}
form.main-section-form .input-full {
    width:100%;
}


#form-demo-name { width:100%; }
#form-demo-phone { width:100%; }
#form-demo-email { width:100%; }

#form-contact-name { width:100%; }
#form-contact-festival { width:100%; }
#form-contact-phone { width:100%; }
#form-contact-email { width:100%; }
#form-contact-message { width:100%; height:130px; }


/* input:required {
  border:1px dotted red;
} */

/**
 * style input elements that have a required
 * attribute and a focus state
 */
/* input:required:focus {
  border: 2px solid green;
  outline: none;
} */

/**
 * style input elements that have a required
 * attribute and a hover state
 */


/* input:invalid:focus {
  border:1px solid red;
}input:valid {
  border: 1px solid green;
} */











/* ---------------------------------------- TABLET ONLY */

@media only screen and (max-width: 768px) {


    header nav ul li {
        width:23%;
    }

    header nav ul li.header-logo {
        display:none;
    }

    #header-cta {
        bottom:110px;
        left:70px;
    }

    #hero-image {
        min-height:500px;
        background-image: url("../images/bg-tablet.jpg");
    }

    #hero-text {
        top:130px;
    }

    #hero-text h1 {
        font-size:45px;
    }

    #hero-text h2 {
        font-size:30px;
    }


    #form-demo-name, #form-demo-phone, #form-demo-email { width:100%; }

    footer {
        padding:50px 10px;
    }

    footer .footer-productionex {
        display: none;
    }
    footer > .footer-box {
        width:26%;
        margin:0 7% 0 0;

    }
}

/* ---------------------------------------- MOBILE ONLY */

@media only screen and (max-width: 600px) {

    header {
        position: absolute;
        height:55px;
        transition: height 1s ease;
    }

    header.header-mobile-open {
        height:250px;
        transition: height 1s ease;
    }

    header:before {
        width:280%;
        left:-90%;
    }

    #header-hamburger {
        display:block;
        position: relative;
        top:10px;
        text-align: center;
        z-index: 5;
        font-size: 30px;
    }

    header nav ul li {
        display: block;
        width:100%;
        margin:11px 0;
    }

    header nav ul li.header-logo {
        display:none;
    }

    #header-cta {
        bottom: 170px;
        left: calc(50% - 100px);
    }

    #hero-image {
        background-image: url("../images/bg-mobile.jpg");
    }

    #hero-text {
        top:550px;
    }

    #hero-text h1 {
        font-size:35px;
    }

    #hero-text p {
        font-size:15px;
    }







    /* ---------------------------------------- MODAL */
    .modal-box {
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        width:90%;
        max-width:90%;
        top:0;
        left:0;
        margin:5%;
    }

    /* ---------------------------------------- MOBILE FORMS */
    #form-demo-name, #form-demo-phone, #form-demo-email {
        width:100%;
    }

    label {
        display: block;
        position: relative;
        left:0;
        top:0;
        width:auto;
        margin-bottom:10px;
    }

    input[type=text], input[type=email] {
        outline: 0;
        border: none;
        border-bottom: 1px solid #aaa;
        padding: 0 10px 0 0px;
    }

    /* ---------------------------------------- MOBILE FEATURES */

    .feature-card {
        width:100%;
        height:auto;
        margin:20px 0;
        border:0;
        border-radius: 3px;
        box-shadow: 0 10px 25px -15px #000;
    }


    /* ---------------------------------------- MOBILE FOOTER */

    footer {
        padding:50px 10px;
    }

    footer > .footer-box {
        width:100%;
        display:block;
        margin:0 0 60px 0;

    }

    footer > .footer-box h5 {
        font-weight:300;
    }
}
